<div class="alert alert-success fade in" ng-show=''>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
<div id='register_main_div' ng-controller="GiftController" >
	<div class="row" style="margin-top: 2em;">
		<div class="col-md-4 col-md-offset-4">
			<div class="jumbotron">
				<form role='form' id='register'>
					<center><legend>Register</legend></center>
					<div class="form-group">
						<label>Nombre</label>
						<input id='input_nombre_loginboxhome' type="text" class="form-control" placeholder="Nombre" ng-model="gift.descripcion">
					</div>
					<div class="form-group">
						<label>Descripcion</label>
						<input id='input_descripcion_loginboxhome' type="text" class="form-control" placeholder="Descripcion" ng-model="gift.descripcion">
					</div>
					<div class="form-group">
						<label>Peso</label>
						<input id='input_peso_loginboxhome' type="text" class="form-control" placeholder="Peso" ng-model="gift.peso">
					</div>
          			<div class="form-group">
						<label>Destinatario</label>
						<input id='input_destinatario_loginboxhome' type="text" class="form-control" placeholder="Destinatario" ng-model="gift.destinatario">
					</div>
		          	<div class="form-group">
		            	<select class = 'form-control' id='gift_status' ng-model="gift.status">
		              	<option value ='pendiente'>Pendiente de Entrega</option>
		              	<option value ='entregado'>Entregado</option>
		            	</select>
		          	</div>
          			<button id='botton_loginboxhome' type="submit" class="btn btn-default" ng-click="registerGift()">Register</button>
				</form>
			</div>
		</div>
	</div>
</div>
